@{
    ViewData["Title"] = "Home Page";
}

<div id="welcomePage">
    <div class="welcomeText">
        <div class="whiteText">
            <h1 id="welcomeH1" class="display-4">Welcome</h1>
            <h1 class="display-4">RIT School of <br /> Information</h1>
        </div>
    

        <div id="homeSideText">
            <h1>RIT ISchool Website</h1>
            <h2>This website contains info about Rochester Institute of Technology's School of Information.
            Navigate the site through the top navigation bar.</h2>
        </div>
    </div>
    <!--trapezoid under welcome-->
    <div id="trapezoid"></div>
</div>
